
    h1{ color:blue;
    
    font-size: 40px;
}
   #aquamrinepara {
    color :aquamarine;
   }
   body{ font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif

   }
   .blueClass{ 
    color:blue
}
   
   
   
   P{color :blueviolet;
    }
